$color-map: (
 site-primary-color: #226F54,
 site-secondary-color: #87C38F,
 site-tertiary-color: #F4F0BB,
 site-quaternary-color: #43291F,
 site-quinary-color:  #F4F0BB,
 site-alert-color:  #DA2C38,
 site-base-white-color: #FCFDFF
);
