$color-map: (
 site-primary-color: #99CC33,
 site-secondary-color: #2A2D34,
 site-tertiary-color: #E55812,
 site-quaternary-color: #0E4749,
 site-quinary-color:  #FFFFCC,
 site-alert-color:  #DA2C38,
 site-base-white-color: #FCFDFF
);
