$color-map: (
 site-primary-color: #EC058E,
 site-secondary-color: #62BBC1,
 site-tertiary-color: #F4F0BB,
 site-quaternary-color: #010400,
 site-quinary-color:  #FFFBFC,
 site-alert-color:  #62BBC1,
 site-base-white-color: #FCFDFF
);
