@media screen and (min-width:$middle-screen-size) {
  .feature .section-content{
    display: table;
  }
  .feature-item{
    display: table-cell;
  }
}

.feature-item{
  text-align: center;
  .feature-item-header{
    min-height: 200px;
    padding: 30px;
  }
  .feature-item-body{
    min-height: 300px;
    padding: 30px;
  }
  .feature-item-footer{
    min-height: 50px;
    padding: 30px;
  }
  .fa{
    font-size: 10rem;
  }
}
