.strong {
  color: $strong-font-color;
}

.align-center{
  text-align: center;
}

.align-right{
  text-align: center;
}

.align-left{
  text-align: center;
}

.font-size-0-8rem{
  font-size: 0.8rem
}

.font-1-0rem{
  font-size: 1rem
}

.font-1-2rem{
  font-size: 1.2rem
}

.font-1-4rem{
  font-size: 1.4rem
}

.font-1-6rem{
  font-size: 1.6rem
}

.font-1-8rem{
  font-size: 1.8rem
}

.font-2-0rem{
  font-size: 2rem
}
