
.form-group{
  margin-top: 2rem;
}

.input-form-text{
  height: 3rem;
  padding:10px;
  font-size: 1rem;
}

.form-full-width{
  width:100%;
}

.link-to-register{
  border-bottom: 1px solid $primary-border-color;
}
